ul {
    list-style: none;
}
.wrapper {
    width: 1400px;
    margin: 200px auto;
    display: flex;
    justify-content: space-around;
}
.tina::before {
    content: "";
    width: 20px;
    height: 20px;
    background-color: pink;
    display: inline-block;
    margin-right: 10px;
}

.gulnaz::before {
    content: "";
    width: 20px;
    height: 20px;
    background-color: lightseagreen;
    display: inline-block;
    margin-right: 10px;
}

.wall__one {
    width: 300px;
    height: 500px;
    background-color: pink;
    position:absolute;
}
.window-blue1 {
    width: 70px;
    height: 70px;
    position: relative;
    top: 40px;
    left: 30px;
    background-color: lightseagreen;
}
.window-blue2 {
    width: 70px;
    height: 70px;
    position: relative;
    bottom: 30px;
    left: 170px;
    background-color: lightseagreen;
}
.window-blue3 {
    width: 70px;
    height: 70px;
    position: relative;
    top: 80px;
    left: 30px;
    background-color: lightseagreen;
}
.window-blue4 {
    width: 70px;
    height: 70px;
    position: relative;
    top: 15px;
    left: 170px;
    background-color: lightseagreen;
}
.door-blue {
    width: 50px;
    height: 90px;
    background-color: lightseagreen;
    position: relative;
    top: 130px;
    left: 130px;

}
.wall__blue {
    width: 300px;
    height: 500px;
    background-color: lightseagreen;
}
